* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
section.storages {
  display: grid;
  grid-gap: 20px;
}
section.beers {
  height: 300px; /* need to finalise based on svg */
  padding: 0 130px;
  display: grid;
  grid-gap: 20px;
}
.beer {
  width: 100%;
  background-color: darkgoldenrod;
  bottom: 0;
}
.not-on-tap {
  opacity: 0.3;
}
.change-keg {
  animation: flash 1s infinite;
}
.soon-sold-out {
  animation: flash 0.5s infinite;
}
@keyframes flash {
  50% {
    opacity: 0.5;
  }
}
section.customers,
section.customers > div {
  display: grid;
  grid-gap: 20px;
}
section.customers {
  padding: 0 130px;
}
.bartender {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}
.serving {
  color: red;
}
