* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: sans-serif;
}
section.beers {
  height: 300px; /* need to finalise based on svg */
  padding: 0 50px;
  display: grid;
  grid-gap: 0;
}
.beer {
  width: 100%;
  background-color: darkgoldenrod;
  bottom: 0;
  transition: all 1s linear;
}
.not-on-tap {
  opacity: 0.3;
}
.change-keg {
  animation: flash 1s infinite;
}
.soon-sold-out {
  animation: flash 0.5s infinite;
}
@keyframes flash {
  50% {
    opacity: 0.5;
  }
}
section.customers,
section.customers > div,
section.glasses,
section.storages {
  display: grid;
  grid-gap: 0;
}
section.customers > div > * {
  border-bottom: 3px dotted rgba(255, 255, 255, 0.7);
}
section.customers,
section.bartenders,
section.glasses {
  padding: 0 50px;
}
section.bartenders {
  display: grid;
}
.bartender {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  grid-row-start: 1;
}
.serving {
  color: red;
}
.hide {
  display: none;
}
.imgKegs,
.imgKegs-offtap {
  height: auto;
  position: fixed;
  top: 17vh;
  left: 50px;
}
.imgKegs img,
.imgKegs-offtap img {
  width: 100%;
}
main {
  background-color: #333333;
  padding: 17vh 0;
  height: 100vh;
  overflow: hidden;
}
h1 {
  color: #333333;
  font-size: 1.7vw;
  position: absolute;
  right: 0;
  text-align: right;
  transform-origin: right top;
  transform: rotate(-90deg) translate(-1vw, -8.2vw);
}
section.glasses {
  height: 100px;
}
section.glasses > div {
  height: 100%;
}
aside {
  height: 12vh;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  padding-top: 10px;
  padding-left: 50px;
}
aside li {
  display: inline-block;
  line-height: 40px;
  margin-right: 30px;
  font-size: 19px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}
.categories {
  text-align: right;
}
.found {
  animation: found ease-in 0.3s;
}
@keyframes found {
  50% {
    transform: scaleY(1.1);
  }
}
#statistic {
  color: #333333;
  width: 30%;
  height: 88vh;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 12vh;
  padding: 40px;
  transition: all 0.3s ease-in-out;
}
#statistic.close {
  right: -25%;
}
p.close {
  font-size: 2em;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
